%h2
  Where? Ludlow?
%p
  Yeah &ndash; Ludlow, Kentucky! We&#39;re ten minutes from Downtown Cincinnati, 
  fifteen from the Greater Cincinnati Northern Kentucky International Airport, shopping, 
  dining, attractions, and, of course, the Yacht Club! We've got hundred year
  old houses, parks, restaurants, corner grocery stores and sidewalks for evening strolls galore.
%h2 Why Ludlow?
%p
  Why not!? Ludlow was incorporated as a city in 1864. Many houses here are over
  a hundred years old. There are wide streets with established trees, sidewalks, 
  lawns, and tulips everywhere all spring.
%h2 
  How about houses?
%p
  There are many historic homes in Ludlow in various stages of repair and a few
  in disrepair. If you&#39;re a fan of getting your hands dirty on a DIY
  remodel, come on over! If you&#39;re just looking for something to move in 
  to, we&#39;ve got those too!
%p
  Houses are super affordable here, too. Typical two to four bedroom houses in
  Ludlow range from $45,000 to $120,000.
%h2 
  What about transportation?
%p
  Glad you asked! We&#39;ve got bus service from 
  = link "TANK", "http://www.tankbus.org/RoutesSchedules/WeeklySchedule/tabid/67/Default.aspx"
  via the number three route. If you&#39;re a biker, it&#39;s 4.3 miles to 4th
  and Vine Streets in Cincinnati. You can always drive, too.
%p
  %iframe{:width => "690", :height => "350", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Oak+St+%26+Adela+Ave,+Ludlow,+KY&amp;daddr=4th+St+%26+Vine+St+Cincinnati,+OH&amp;hl=en&amp;geocode=Fdp9VAIdWdX1-inPtbKSkrZBiDHnFuRA0tXrFA%3BFSieVAIdbHD2-il5vaFuULFBiDHMIveueGwllg&amp;mra=ls&amp;sll=39.09323,-84.53272&amp;sspn=0.02518,0.043473&amp;ie=UTF8&amp;t=h&amp;ll=39.09323,-84.53272&amp;spn=0.01342,0.04114&amp;output=embed"}
    %br
    %small
      %a{:href => "http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Oak+St+%26+Adela+Ave,+Ludlow,+KY&amp;daddr=4th+St+%26+Vine+St+Cincinnati,+OH&amp;hl=en&amp;geocode=Fdp9VAIdWdX1-inPtbKSkrZBiDHnFuRA0tXrFA%3BFSieVAIdbHD2-il5vaFuULFBiDHMIveueGwllg&amp;mra=ls&amp;sll=39.09323,-84.53272&amp;sspn=0.02518,0.043473&amp;ie=UTF8&amp;t=h&amp;ll=39.09323,-84.53272&amp;spn=0.01342,0.04114&amp;output=embed", :style => "color:#0000FF;text-align:left"} View Larger Map
%h2
  What schools are around?
%p
  Ludlow has it&#39;s own school system called 
  = link "Ludlow Independent Schools", "http://www.ludlow.k12.ky.us/"
  housing an elelmentary through twelfth grade students. Classes are small 
  compared to most schools in the area, allowing more student-teacher interaction.
