---
extension: css
filter:    sass
layout: none
---
$blueprint_grid_columns: 16;
$blueprint_grid_width: 40px;

@import "blueprint/reset";
@import "blueprint/grid";

@font-face {
  font-family: "ChunkFiveRegular";
  src: url("../fonts/chunkfive/Chunkfive-webfont.eot");
  src: local("☺"), url("../fonts/chunkfive/Chunkfive-webfont.woff") format("woff"), url("../fonts/chunkfive/Chunkfive-webfont.ttf") format("truetype"), url("../fonts/chunkfive/Chunkfive-webfont.svg#webfontb5K2fJwj") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "JunctionRegular";
  src: url("fonts/junction/Junction-webfont.eot");
  src: local("☺"), url("fonts/junction/Junction-webfont.woff") format("woff"), url("fonts/junction/Junction-webfont.ttf") format("truetype"), url("fonts/junction/Junction-webfont.svg#webfontb5K2fJwj") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #369 url('/images/bg.gif') repeat fixed;
  @include container;
  overflow: auto;
  #header, #slideshow, #footer {
    @include column(16); }
  #sidebar {
    @include column(6, true); }
  #content {
    @include column(14);
    @include prepend(1);
    @include append(1);
    }
  #header {
    h1 {
      color: green;
      font: 60px / 68px "ChunkFiveRegular", Georgia, serif;
      text-shadow: 2px 2px 2px #888;
      letter-spacing: -3px;
      margin: 20px 0;
      a {
        color: green;
        text-decoration: none;
      }
    }
  }
  #slideshow {
    margin-bottom: 2em;
    img {
      width: 760px;
      height: 300px;
      padding: 15px;
      background-color: #fff; }
  }
  #content {
    background-color: #fff;
    color: #333;
    font-size: 120%;
    line-height: 1.4em;
    h2 {
      font: 30px / 34px "ChunkFiveRegular", Georgia, serif;
      margin: 1em 0;
    }
    p {
      font-family: 'Vollkorn', Arial, serif;
      margin-bottom: 10px;
      code {
        background: #f8f8ff;
        border: 1px solid #cacaca;
        color: #333333;
        font: {
          family: Monaco, "Courier New";
          size: 13px; };
        padding: 1px 2px; } } }
  #footer {
    background-color: #fff;
    color: #666;
    margin: 1em 0 2em 0;
    padding: 1em 0;
    p {
      text-align: center;
      font-family: 'Vollkorn', Arial, serif;
      font-size: 80%;
    }
  }
}
